<mat-card>
<form [formGroup]="menuForm" fxLayout="column">
    <mat-form-field class="product-full-width">
        <input matInput autofocus type="text" required formControlName="title" placeholder="Add menu item...">
    </mat-form-field>
    <div fxLayout="column">
        <div fxFlexLayout="row wrap" fxLayoutAlign="space-between stretch">
            
            <!-- <mat-slide-toggle labelPosition="before" matInput formControlName="isNonVeg" required>Is Non-Veg
            </mat-slide-toggle> -->
            <mat-radio-group formControlName="dietType">
                <mat-radio-button value="veg">Veg</mat-radio-button>
                <mat-radio-button value="nonveg">Non-veg</mat-radio-button>
            </mat-radio-group>
            <mat-form-field fxFlex="0 1 30">
                <input matInput type="number" formControlName="price" required>
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>.00</span>
            </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
            <mat-form-field fxFlex=45>
                <mat-label>Availability</mat-label>
                <mat-select formControlName="availability" multiple>
                    <mat-option *ngFor="let days of avalability" [value]="days">{{days}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex=45>
                <mat-label>Pre-Order</mat-label>
                <mat-select formControlName="preOrder">
                    <mat-option *ngFor="let order of preOrder" [value]="order">{{order}}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <app-img-upload #upload [image]="menuForm.get('image').value" [bucket]="imageBucket"
            (imageUploaded)="addImage($event)">
        </app-img-upload>
    </div>

</form>

<mat-card-actions align="right">
    <button mat-stroked-button (click)="onClickCancel()">
        Cancel
    </button>
    <button mat-stroked-button  (click)="onClickSave()" [disabled]="!menuForm.valid">
        Add
    </button>
</mat-card-actions>
</mat-card>