<div *ngIf="myKitchen$|async as kitchen">
    <mat-card>
        <mat-card-content style="text-align: center">
            <p>{{kitchen.description}}</p>
            <p>{{kitchen.address}}</p>
        </mat-card-content>
        <mat-card-actions fxLayout="row wrap" fxLayoutAlign="space-between">
            <div>
                <span>Menu# </span>
                <span> {{kitchen.menuItemCount}}</span>
            </div>
            <div>
                <mat-icon>favorite_border</mat-icon>
                <span>{{kitchen.likeCount}}</span>
            </div>
        </mat-card-actions>
        <button 
            *ngIf="!showMenuTemplate"
            mat-stroked-button 
            style="width:100%" 
            color="accent"
            (click)="showAddMenuTemplate(true)">Add menu item
        </button>

    </mat-card>

    <div>
        <app-menu-form *ngIf="showMenuTemplate" [menuIn]="selectedMenuItem" (menuOut)="collectMenuOut($event)"></app-menu-form>
    </div>

    <div *ngIf="menuItems$|async as menu" fxLayout="row wrap" fxLayoutAlign="space-around center">
        <mat-card fxFlex.xs=98 fxFlex.sm=50 fxFlex=33 class="app-card" style="margin-top:4px"
            *ngFor="let menuItem of menu"
            (click)="editMenuItem(menuItem)">
            <img *ngIf="menuItem.image && menuItem.image.url" class="card-image" mat-card-image [src]="menuItem.image.url"
                [alt]="menuItem.title">
            <mat-card-header>
                <mat-card-title [style.color]="menuItem.dietType == 'nonveg'? 'red':'green'">{{menuItem.title}}</mat-card-title>
                <mat-card-subtitle>
                    CAD {{menuItem.price}} / Good for {{menuItem.serving}} persons
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div *ngIf="menuItem.description">
                    <span>{{menuItem.description}}</span>
                    <br><br>
                </div>
                <li>Pre-Order: 1 day in advance</li>
                <li>Avaibility: {{menuItem.availability?menuItem.availability:'All Days'}}</li>
            </mat-card-content>

        </mat-card>
    </div>

</div>