<div>
    <mat-dialog-content style="font-size: small;">
        <mat-list>
            <h3 mat-subheader>Please contact to place the order.</h3>
            <mat-list-item>
                <mat-icon matListIcon >email</mat-icon>
                <a matLine [href]="'mailto:'+dialogData.email">{{dialogData.email}}</a>
            </mat-list-item>

            <mat-list-item>
                <mat-icon matListIcon>phone</mat-icon>
                <a matLine [href]="'tel:'+dialogData.phone">{{dialogData.phone}}</a>
            </mat-list-item>
        </mat-list>
    </mat-dialog-content>
    <mat-dialog-actions style="float:right">
        <!-- <button mat-icon-button [mat-dialog-close]="false">
            <mat-icon color="warn">clear</mat-icon>
        </button> -->
        <button mat-icon-button [mat-dialog-close]="true">
            <mat-icon color="primary">done</mat-icon>
        </button>
    </mat-dialog-actions>
</div>