<div>
    <mat-dialog-content style="font-size: small;">
        <div *ngIf="dialogData.email">
            <mat-icon style="vertical-align:text-bottom;">email</mat-icon>
            <span>: {{dialogData.email}}</span>
        </div>
        
        <br>
        <div *ngIf="dialogData.phone">
            <mat-icon style="vertical-align:text-bottom;">phone</mat-icon>
            <span>: {{dialogData.phone}}</span>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions style="float:right">
        <!-- <button mat-icon-button [mat-dialog-close]="false">
            <mat-icon color="warn">clear</mat-icon>
        </button> -->
        <button mat-icon-button [mat-dialog-close]="true">
            <mat-icon color="primary">done</mat-icon>
        </button>
    </mat-dialog-actions>
</div>