<div *ngIf="currentUser$|async as cu" fxLayout="column">
<mat-card>
        <mat-card-header>
            <div mat-card-avatar *ngIf="cu.photoURL" style="margin-right: 8px;"
                [ngStyle]="{'background-image': 'url('+cu.photoURL+')', 'background-size':'cover'}">
            </div>
            <mat-card-title>{{cu.displayName}}</mat-card-title>
            <mat-card-subtitle>
                <!-- <mat-icon style="vertical-align:text-bottom;">room</mat-icon> -->
                <span>{{cu.address}}</span>
            </mat-card-subtitle>
        </mat-card-header>
        <br>
        <mat-card-content>
            <div *ngIf="!cu.kitchenId; else hasKitchen">
                <p>Become a home chef in 3 easy steps :)</p>
                
                <mat-list fxLayout="row wrap">
                    <mat-list-item>
                        <mat-icon matListIcon>verified_user</mat-icon>
                        <h3 matLine> Sign in with <span style="color: blue">Google</span> account. </h3>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>kitchen</mat-icon>
                        <h3 matLine> Create your kitchen. </h3>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>playlist_add</mat-icon>
                        <h3 matLine> Add menu items </h3>
                    </mat-list-item>
                </mat-list>
            </div> 
            <ng-template #hasKitchen *ngIf="kitchen$|async as kitchen">

            </ng-template>           
            
        </mat-card-content>


    </mat-card>
    <button mat-fab style="position: fixed; bottom:20px; z-index: 99; right:20px" class="mat-elevation-z4"
        (click)="loginWithGoogle(cu)">
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>


