<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav 
    #drawer 
    class="sidenav"
    [style.width]="(isHandset$ | async) ? '80%':'400px'" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode=over>
    <div *ngIf="auth.currUser$ | async as user">
    
      <div *ngIf="user.isAnonymous else registeredUser">
        <mat-toolbar color="primary">
    
          <a mat-mini-fab [routerLink]="['/user/', user.uid]" (click)="drawer.toggle()">
            <mat-icon>perm_identity</mat-icon> {{user.displayName}}
          </a>
    
          <span class="spacer"></span>
    
          <button mat-stroked-button (click)="drawer.toggle()" [routerLink]="['/user/', user.uid]">
            <span>Sign in</span>
          </button>
    
        </mat-toolbar>
      </div>
    
      <!-- User logged in -->
      <ng-template #registeredUser>
        <mat-toolbar color="primary">
          <span class="mat-body" [routerLink]="['/user/', user.uid]">{{user.displayName}}</span>
          <span class="spacer"></span>
          <button mat-stroked-button (click)="drawer.toggle()">
            <span>Sign out</span>
          </button>
        </mat-toolbar>
        </ng-template>
        </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let nav of navList" [routerLink]="nav.menuRoute" routerLinkActive="active"
        (click)="drawer.close()">
        <mat-icon matListIcon>{{nav.menuIcon}}</mat-icon>
        <span matLine>{{nav.menuName}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar></mat-toolbar> <!--Dummy Toolbar to solve safari issue </-->
    <app-toolbar style="position: fixed; top:0; z-index: 99; width: 100%" [sidenavRef]=drawer></app-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
