<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav #drawer class="sidenav" [style.width]="(isHandset$ | async) ? '80%':'400px'" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" mode=over>

    <div fxLayout="column" fxFill *ngIf="currAppUser$|async as cu;">
      <mat-toolbar>
        <mat-toolbar-row>{{cu.displayName}}</mat-toolbar-row>
      </mat-toolbar>

      <mat-nav-list fxLayout="column" fxFlex>

        <a mat-list-item routerLinkActive="active" (click)="drawer.close()" routerLink="user">
          <mat-icon matListIcon>account_box</mat-icon>
          <span matLine>My Account</span>
        </a>

        <a mat-list-item routerLinkActive="active" (click)="drawer.close()" routerLink="/">
          <mat-icon matListIcon>home</mat-icon>
          <span matLine>Home</span>
        </a>
        <a mat-list-item routerLinkActive="active" (click)="drawer.close() && handleKitchenRedirect(cu.kitchenId)">
          <mat-icon matListIcon>kitchen</mat-icon>
          <span matLine>{{cu.kitchenId? 'My Kitchen' : 'Setup your kitchen'}}</span>
        </a>
        <a mat-list-item routerLinkActive="active" (click)="drawer.close()" routerLink="help">
          <mat-icon matListIcon>contact_support</mat-icon>
          <span matLine>Help Center</span>
        </a>
      <span fxFlex></span>
      <mat-divider></mat-divider>
        <a *ngIf="cu.isAnonymous" mat-list-item (click)="drawer.close() && loginWithGoogle()">
          <mat-icon matListIcon>person_outline</mat-icon>
          <span matLine>Sign in</span>
        </a>
        <a *ngIf="!cu.isAnonymous" mat-list-item (click)="drawer.close() && signOut()">
          <mat-icon matListIcon>person</mat-icon>
          <span matLine>Sign out</span>
        </a>
        
      </mat-nav-list>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar></mat-toolbar>
    <!--Dummy Toolbar to solve safari issue </-->
    <app-toolbar style="position: fixed; top:0; z-index: 99; width: 100%" [sidenavRef]=drawer></app-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>