<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav #drawer class="sidenav" [style.width]="(isHandset$ | async) ? '80%':'400px'" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" mode=over>

    <div *ngIf="currAppUser$|async as cu;">
      <mat-toolbar>{{cu.displayName}}</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" (click)="drawer.close()" routerLink="/">
          <mat-icon matListIcon>home</mat-icon>
          <span matLine>Home</span>
        </a>
        <a mat-list-item
          routerLinkActive="active" 
          (click)="drawer.close() && handleKitchenRedirect(cu.kitchenId)">
          <mat-icon matListIcon>kitchen</mat-icon>
      <span matLine>{{cu.kitchenId? 'My Kitchen' : 'Setup your kitchen'}}</span>
        </a>
      </mat-nav-list>
    </div>

    <!-- <ng-template #nouser>
      <mat-toolbar>Guest</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" (click)="drawer.close() && handleKitchenRedirect(null)">
          <mat-icon matListIcon>kitchen</mat-icon>
          <span matLine>Setup your kitchen</span>
        </a>
      </mat-nav-list>
    </ng-template> -->

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar></mat-toolbar>
    <!--Dummy Toolbar to solve safari issue </-->
    <app-toolbar style="position: fixed; top:0; z-index: 99; width: 100%" [sidenavRef]=drawer></app-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>
