<div>
    <mat-card>
        <h2 style="margin-top:2em">Hungry?</h2>
        <h3>Order food from home kitchens near you.</h3>
        <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Enter your address...</mat-label>
            <input type="text" matInput autofocus>
        </mat-form-field>
    </mat-card>
    <button mat-fab style="position: fixed; bottom:20px; z-index: 99; right:20px" class="mat-elevation-z16"
        (click)="redirectToKitchenListPage()">
        <mat-icon>done</mat-icon>
    </button>
</div>
<!-- <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <mat-card fxFlex.xs=98 fxFlex=70>
        <h2 style="margin-top:2em">Hungry?</h2>
        <h3>Order food from home kitchens near you.</h3>
        <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Enter your address...</mat-label>
            <input type="text" matInput autofocus>
        </mat-form-field>
    </mat-card>
    <button mat-fab style="position: fixed; bottom:20px; z-index: 99; right:20px" class="mat-elevation-z16"
        (click)="redirectToKitchenListPage()">
        <mat-icon>done</mat-icon>
    </button>
</div> -->