<div fxLayout="row wrap" fxLayoutAlign="space-around center">
   
   <mat-card>
    <div fxLayout="row">
        <mat-icon class="bigIcon" color="primary">search</mat-icon>
        <h2 class="pullLeft">Hungry?</h2>
    </div>
    
    <mat-card-title>
           Explore food from home kitchens around you!
       </mat-card-title>
   </mat-card>
<mat-card>
    <mat-icon class="bigIcon">local_dining</mat-icon>
    <mat-card-title>Love cooking? How about making some extra income?</mat-card-title>
</mat-card>
    <button routerLink="/"
        mat-fab 
        style="position: fixed; bottom:30px; z-index: 99; right:30px" 
        class="mat-elevation-z16">
        <mat-icon>home</mat-icon>
    </button>
</div>
